"*":
  "exception-reporting":
    userId: "bd7c724a-8bed-0d47-4501-f015fa01f47a"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 200
    fontSize: 12
  "one-dark-ui": {}
  minimap: {}
  "atom-beautify":
    _analyticsUserId: "53421fba-d557-4cac-87fb-7c382a66bc5c"
".sass.source":
  editor:
    autoIndentOnPaste: true
